:root{
    /* Global variable colors*/
    --color1: #f4d35e;
    --color2: #2e2f5b;
    --color3: #505581;
    --color4: #c9c8c7;
    --white: #d8d8d8;
    --black: #292929;
}

*{
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}


body{
    background-color: var(--color4);
}


h1{
    text-align: center;
    font-size: 50px;
    color: #ffc107;

    margin: 0px 10px 20px 0px;   
    text-shadow: 0px 0px 0 rgb(241,179,0),
                 1px 1px 0 rgb(226,164,0),
                 2px 2px 0 rgb(212,150,0),
                 3px 3px 0 rgb(197,135,0),
                 4px 4px  0 rgb(183,121,0),
                 5px 5px 4px rgba(0,0,0,1),
                 5px 5px 1px rgba(0,0,0,0.5),
                 0px 0px 4px rgba(0,0,0,.2);
}

.game{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

.GameBoard{
  width: 50% fixed;
}

.varInfo{
  margin-top: 5px;
  max-width: 24%;
  margin-bottom: auto;
  overflow-wrap: break-word;
}

.GameBoard, .varInfo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#varInfo2{
  border: 1px solid var(--black);
  margin-right: auto;
}


  table, tr, td {
    border: 1px solid var(--black);
  }

  table{
    margin: auto;
    border-collapse: collapse;
  }

  td{
    width: 12px;
    height: 12px;
    background-color: var(--white);
  }

  #partyTime{

  }

  .buttons{
    margin: auto;
    text-align: center;
    padding: 10px;
  }

  .button{
    background-color: var(--color2);
    padding: 10px;
    width: max-content;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 2px;
  }

  .button:hover{
    transform: rotate(10deg);
  }


/*Tablet mediaquerie*/
@media screen and (max-width: 768px) {
  .game{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .GameBoard, .varInfo{
    width: 100%;
  }
  div#gameBoardId   {order: 1;}
  div#varInfo1  {order: 2;}
  div#varInfo2 {order: 3;}

  td{
    width: 10px;
    height: 10px;
  }
}

  /*Mobile mediaQuerie*/
  @media screen and (max-width: 600px) {
    .game{
      display: flex;
      flex-direction: column;
    }
    .GameBoard, .varInfo{
      width: 100%;
    }
    div#gameBoardId   {order: 1;}
    div#varInfo1  {order: 2;}
    div#varInfo2 {order: 3;}

    td{
      width: 10px;
      height: 10px;
    }
  }