:root{
    /* Global variable colors*/
    --color1: #f9b94b;
    --color2: #141852;
    --color3: #b3b3b3;
    --color4: #855988;
    --color5: #39393a;
    --color6: #b64545;
    --white: #d8d8d8;
    --black: #292929;
}

body{
    background-color: var(--color3);
}


h1{
    text-align: center;
    font-size: 50px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0px 10px 20px 0px;   
    text-shadow: 0px 0px 0 rgb(241,179,0),
                 1px 1px 0 rgb(226,164,0),
                 2px 2px 0 rgb(212,150,0),
                 3px 3px 0 rgb(197,135,0),
                 4px 4px  0 rgb(183,121,0),
                 5px 5px 4px rgba(0,0,0,1),
                 5px 5px 1px rgba(0,0,0,0.5),
                 0px 0px 4px rgba(0,0,0,.2);
}

  table, tr, td {
    border: 1px solid var(--black);
  }

  table{
    margin: auto;
    border-collapse: collapse;
  }

  td{
    width: 15px;
    height: 15px;
    background-color: var(--white);
  }

  .buttons{
    margin: auto;
    text-align: center;
    padding: 10px;
  }

  .button{
    background-color: var(--color2);
    padding: 10px;
    width: max-content;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

  .button:hover{
    transform: rotate(10deg);
  }